<html>
    <head>
        <title> Sid__ | <%= title %></title>
        <link href="static/css/application.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <%- content %>

        <div class="footer" style='bottom:10px;position:absolute'>
            <small>
                <a href="/stats">Stats</a> powered by Hapi.js, Node.js and Redis.
            </small>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
        <script type="application/javascript" src="/static/javascripts/stats.js"></script>
    </body>
</html>